html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
}
a {
    color: #000;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
display: inline-block;
}
.container {
    width: 1600px;
    margin: 0 auto;
    padding: 0;
}
.header__container{
    height: 744px;
    /* width: 100%; */
}
.header{
    height: 95px;
    margin-bottom: 135px;
}
.hidden{
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.header__logo{
    display: inline-block;
}
.header__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95px;
}
.header__menu li a{
    color: #fff;
    font-size: 14px;
    line-height: 140%;
    opacity: 0.8;
}
.header__menu li a:hover{
    opacity: 1;
}
li.active a{
    position: relative;
}
li.active a::before{
    position: absolute;
    content: '';
    background-color: #fff;
    width: 100%;
    height: 1px;
    bottom: -5px;
}
.header__menu li + li{
    padding-left: 85px;
}
.main__title{
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
}
.main__text{
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    width: 504px;
    margin: 0 auto 30px;
}
.btn{
    width: 184px;
    height: 46px;
    margin: 0 auto;
    background: #00AFDB;
    cursor: pointer;
    background: linear-gradient(to right, #056d85, #034a5e 50%, #00AFDB 50%);
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}
.btn:hover{
    background-color: transparent;
    color: #fff;
    background-position: 0 100%;
}

.btn a{
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 47px;
}
.main__icons {
    display: flex;
    justify-content: center;
    margin-top: 183px;
}
.main__icons a + a{
    margin-left: 30px;
    
}
.main__icons a:hover svg{
    fill: red;
    height: 30px;
}
.rappresent, .implement{
    display: flex;
    justify-content: space-evenly;
    height: 842px;
    align-items: center;
}
.rappresent__box{
    width: 407px;
    height: 233px;
}
.implement{
    justify-content: center;
}
.implement__img{
    margin-right: 139px;
}
.implement__box{
    margin-right: 120px;
}
.rappresent__box-title, .implement__box-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 20px;
    width: 390px;
}
.rappresent__box-text, .implement__box-text{
    font-size: 14px;
    line-height: 140%;
    color: #4E4E4E;
    margin-bottom: 30px;
}
.rappresent__btn, .implement__btn{
    margin: 0;
}
.implement__box{
    width: 407px;
    height: 184px;
}
.subscribe{
    height: 524px;
}
.subscribe__title{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 199px;
}
.subscribe__form{
    margin: 30px auto 0;
    display: flex;
    justify-content: center;
}
.subscribe__form input{
    width: 340px;
    height: 46px;
    border: none;
}
::placeholder{
    font-size: 14px;
    line-height: 140%;
    display: flex;
    align-items: flex-end;
    color: #373737;
    padding-left: 24px;
}
.subscribe__btn{
    width: 66px;
    height: 46px;
    background: #00AFDB;
    border-radius: 0px;
    border: none;
}
.subscribe__btn:hover{
    cursor: pointer;
    background: #4e7781;
}
.download{
    height: 343px;
}
.download__title{
    margin: 120px auto 20px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
    text-align: center;
}
.download__text{
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #4E4E4E;
    width: 483px;
    margin: 0 auto 30px;
}
.download__btns{
    display: flex;
    justify-content: center;
}
.apple{
    margin-right: 90px;
    margin-left: -60px;
}
.download__btn{
    width: 128px;
    height: 50px;
    background: #00AFDB;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 18px;
    position: relative;
}
.download__btn::after{
    position: absolute;
    content: '';
    width: 60px;
    height: 50px;
    right: -60px;
    top: 0px;
    background: #009CC2;

    background-repeat: no-repeat;
    background-position: center;
}
.download__btn:hover{
    cursor: pointer;
    background: #0b657c;
}
.play:after{
    background-image: url(assets/icon-android.png);
}
.apple:after{
    background-image: url(assets/icon-apple.png);
}
.footer{
    height: 184px;
    background: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer__text{
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #818181;
}
.footer__nav li a{
    font-size: 14px;
    line-height: 140%;
    opacity: 0.8;
    color: #fff;
}
.footer__nav li + li{
    margin-left: 40px;
}
.footer li{
    position: relative;
}
.footer li + li::before{
    position: absolute;
    content: '|';
    color: #4E4E4E;
    left: -20px;
}
.footer__nav li a:hover{
    opacity: 1;
}
.community{
    background: #F5F6F7;
}
.community__box{
    display: flex;
    justify-content: center;
    height: 504px;
    overflow: hidden;
    //align-items: center;
    margin: 0 auto;
    padding-top: 80px;
}
.community__box-left{
    width: 298px;
    height: 175px;
    text-align: center;
    margin-right: 20px;
    margin-left: 153px;
    padding-top: 77px;    
}
.community__box-right{
    //padding-top: -50px;
}
.community__title{
    margin: 17px auto 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #373737;
}
.community__text{
    color: #4E4E4E;
}
.slider__items div + div{
    margin-left: 30px;
}
.slider__items{
    width: 894px;
    display: flex;
    flex-wrap: nowrap;
    padding-left: 120px;
}
/* .last{
    overflow: hidden;
    margin-right: -200px;
} */
.my_arrows{
    width: 100%;
    padding-right: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
font-size: 18px;
line-height: 140%;
color: #373737;
}
.arrow-left{
    font-weight: 500;
    margin-right: 21px;
}
.arrow-right{
    font-weight: 500;
    margin-left: 21px;
}